.whitebg{
    background: #fff !important;
}
.swiper-pagination-bullet{
    background: transparent;
    border: 2px solid #989898 !important;
    width: 10px;
    height: 10px;
}
.swiper-pagination-bullet-active{
    background: #0196d6;
    border:  2px solid #0196d6 !important;
}
.swiper-pagination{
    bottom: 14% !important;
}
.swiper-slide{
        display: block !important;
        box-align: top !important;
        -webkit-box-align: top !important;
        -webkit-align-items: top !important;
        -ms-flex-align: top !important;
        align-items: top !important;
        box-pack: top !important;
        -webkit-box-pack: top !important;
        -webkit-justify-content: top !important;
        -ms-flex-pack: top !important;
        justify-content: top !important;
}
.bluebg{
    background-size: 100% 100%;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    height: 31.6rem;    
}
.screen1{
    background: url(../assets/imgs/screen1.svg) no-repeat;
}
.screen2{
    background: url(../assets/imgs/screen2.svg) no-repeat;
}
.screen3{
    background: url(../assets/imgs/screen3.svg) no-repeat;
}

h1{color: #0196d6; font-size: 2rem; text-transform: uppercase; font-weight: 600; margin: 3rem 0 0;}
p{color: #9da5aa; font-size: 1.4rem; margin: 2rem 5rem;}

#btns{
    position: absolute;
    bottom: 0;
    z-index: 5;
    width: 100%;
    border-top:2px solid #dcdee0;
    margin: 1.7rem auto 0;
}
#btns .button{
    background: transparent !important;
    color: #4e5c65;
    width: 48%;
    height: 6rem;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 1.375rem;
    padding: 1.375rem 0;
}
#btns p{
    color: #4e5c65;
    text-transform: none;
    font-style: italic;
    font-size: 0.75rem !important;
    font-weight: 400;
    text-align: center;
    margin: 0.4rem auto 0 !important;
    padding: 0 !important;
}
#btns .button-md, #btns .button-ios{
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
#btns .button-inner {
    display: -webkit-block;
    display: -ms-block;
    display: block;
}