page-profile {
    .profilepic{
        padding: 0;
    }
    .item-md ion-avatar ion-img, .item-md ion-avatar img,
    .item-ios ion-avatar ion-img, .item-ios ion-avatar img{
        width: 100% !important;
        height: 100% !important;
        border-radius: 50% !important;
    }
    .card-ios h1, .card-md h1{
        color: color($colors, primary);
    }
    .stdprofile{
        text-align: center;
        position: relative;
        z-index: -1;
    }
    .stdprofile p{
        font-size: 1rem;
    }
    .kycbtn{
        background: #f6ce2a !important;
        margin: 20px 0 15px !important;
        padding-top: 1.2rem !important;
        padding-bottom: 1.2rem !important;
    }
    .editicon{
        position: absolute;
        right: 12px;
        top: 1.4rem;
    }
    .editicon img{
        width: 80%;
    }
    .setting{
        width: 80%;
    }
    .bar-button-ios[icon-only]{
        min-width: 2.3em !important;
    }
    .lang{
        padding-top: 5px;
        padding-bottom: 15px;
    }
    .lang .greybrd{
        background: #fff !important;
        border: 1px solid #9da5aa !important;
        font-weight: 400 !important;
    }
    .line{
        margin: 10px 0 !important;
        padding: 0 !important;
        width: 100% !important;
    }
    .profilebtn button{
        width: 100% !important;
    }
}
.iconview{
    width: 22px !important;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.cardposition{
    position: relative;
}
.pagehalf{
    width: 49%;
    display: inline-block;
}
.para2{
    padding-top: 12px !important;
}
