.cardsetup{
    padding-top: 10px !important;
    padding-bottom: 15px !important;
}
ion-select{
    border: 1px solid #dbdce1;
    border-radius: 0.5rem;
    padding: 1rem !important;
    font-size: 0.875em;
}
.dateselector{
    display: inline-block;
    width: 49%;
}

.submitprofilebtn .button-md, .submitprofilebtn .button-ios{
    width: 100%;
}